# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder & script templates when downloading from the Asset Library.
/**                      export-ignore
/addons/gdUnit4/**       export-ignore
/addons                 !export-ignore
/addons/**              !export-ignore
/example                !export-ignore
/example/**             !export-ignore
/script_templates       !export-ignore
/script_templates/**    !export-ignore
