# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

*.gitattributes text
.gitignore      text
*.md            text diff=markdown
*.txt           text

# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.ps1           text eol=crlf

# Fix syntax highlighting on GitHub to allow comments
.vscode/*.json linguist-language=JSON-with-Comments

# Exclude files and directories from the export
/**                      export-ignore
/addons/**               export-ignore
/addons/*               !export-ignore
/addons/yat             !export-ignore
/addons/yat/**          !export-ignore
/example                !export-ignore
/example/**             !export-ignore
/script_templates       !export-ignore
/script_templates/**    !export-ignore
